                 
                   /*Diseñado Por Yromi Altamiranda*/
@font-face {
	font-family:myPacifico;
	src:url("../Fuentes/Pacifico/Pacifico.eot?") format("eot"),
	url("../Fuentes/Pacifico/Pacifico.woff") format("woff"),
	url("../Fuentes/Pacifico/Pacifico.ttf") format("truetype"),
	url("../Fuentes/Pacifico/Pacifico.svg#Pacifico") format("svg");
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:myMaven;
	src:url("../Fuentes/Maven/MavenPro-Regular.eot?") format("eot"),
	url("../Fuentes/Maven/MavenPro-Regular.woff") format("woff"),
	url("../Fuentes/Maven/MavenPro-Regular.ttf") format("truetype"),
	url("../Fuentes/Maven/MavenPro-Regular.svg#MavenPro-Regular") format("svg");
	font-weight:normal;
	font-style:normal;
}

 @font-face {
 	font-family:myAkadora;
   	src:url("../Fuentes/Akadora/akaDora.eot?") format("eot"),
   	url("../Fuentes/Akadora/akaDora.woff") format("woff"),
   	url("../Fuentes/Akadora/akaDora.ttf") format("truetype"),
   	url("../Fuentes/Akadora/akaDora.svg#akaDora") format("svg");
   	font-weight:normal;
   	font-style:normal;
}
@font-face{
	font-family: myStMarie;
	src:url("../Fuentes/StMarie/StMarie-Thin.oet?") format("eot"),
	url("../Fuentes/StMarie/StMarie-Thin.woff") format("woff"),
	url("../Fuentes/StMarie/StMarie-Thin.ttf") format("truetype"),
	url("../Fuentes/StMarie/StMarie-Thin.svg#StMarie-Thin") format("svg");
}

@font-face{
	font-family:Robol;
	src:url(../Fuentes/Roboto-BoldCondensed.ttf) format(truetype);
}

@font-face{
	font-family:Roli;
	src:url("../Fuentes/RobotoLight/Roboto-Light.eot?") format("eot"),
	url("../Fuentes/RobotoLight/Roboto-Light.woff") format("woff"),
	url("../Fuentes/RobotoLight/Roboto-Light.ttf") format("truetype"),
	url("../Fuentes/RobotoLight/Roboto-Light.svg#Roboto-Light") format("svg");
}